.header{
    max-width:100%;
    height: 12.5rem;
    background: var(--gray-700);
    display:flex;
    justify-content:center;
    
    
}

.header img{
    height:3rem;
    background: transparent;
    margin-top:3rem;
}